/target/

# 1. Abaikan semua isi folder allure-results
allure-results/*

# 2. TAPI, berikan pengecualian untuk dua file ini agar tetap terbawa
!allure-results/environment.properties
!allure-results/executor.json

/allure-report/

/failed-screenshots/